<h2 class="page-header">
  Auctions
  <small class="pull-right"><a href="#/auctions/add" class="btn btn-primary btn-embossed" data-require-logged-in>Create Auction</a></small>
</h2>

<div class="auction-list">
	<div class="auction" ng-repeat="auction in auctions">
		<div class="price">
			<span ng-if="!auction.sealed_bids">${{auction.current_price}}</span>
			<span ng-if="auction.sealed_bids"><i class="fa fa-envelope" tooltip="Bids are sealed for this auction"></i></span>
		</div>
		<div class="info">
			<div class="title"><a href="#/auctions/{{auction.id}}">{{auction.title}}</a></div>
			<div class="end-time">
				<i class="fa fa-clock-o"></i> {{auction.end_time | amDateFormat:'MMMM Do YYYY, h:mm:ss a'}}
			</div>
		</div>
	</div>
</div>
