<div class="login-screen">
	<div class="login-icon hidden-xs">
		<div class="icon">
			<i class="fa fa-gavel"></i>
		</div>
		<h4>Welcome to <small>Penelophant</small></h4>
	</div>
	<div class="login-form">
		<h4>Welcome back!</h4>
		<div id="login-alert-container"></div>
		<form name="loginForm" ng-submit="auth(loginForm.$valid, user)" novalidate>
			<div class="form-group" ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine }">
				<input type="text" class="form-control login-field" name="email" placeholder="Username" ng-model="user.email" required />
			</div>
			<div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
				<input type="password" class="form-control login-field" name="password" placeholder="Password" ng-model="user.password" required />
			</div>
			<button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
		</form>
		<a href="#" class="login-link">Need an account?</a>
	</div>
</div>
